# From old SVN
*копия*
*Copy*
DEL.bat
materialsystem_dx9_w_hdr
build_log.txt
materialsystem_fixed_green_shader

# VC++ 6.0 stuff
*.dsw
*.plg
*.ncb
*[Dd]ebug*/
*[Rr]elease*/
*.opt
*.aps

# Some stuff from VS2008 (for MySQL++ project of Tracker)
*.user

*.bak
*.exp
*.ilk
*_old*

## Beta related stuff
# libs better stay in it's original state, because they're rebuildable
lib/
materialsystem/stdshaders/fxctmp9/
materialsystem/stdshaders/fxctmp9_nv3x/
materialsystem/stdshaders/fxctmp9_nv3x_ps20/
materialsystem/stdshaders/pshtmp9/
materialsystem/stdshaders/vshtmp9/
materialsystem/stdshaders/shit.txt
utils/hlmviewer/src/hlmv.exe
utils/hlmviewer/src/hlmv.lib
